/* 
.stopWatch {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-color: #111;
}
h1{
    font-size: 50px;
}
button{
    margin-right: 10px;
    width: 80px;
    font-size: 20px;
   
}
.watch {
    background-color: #0de30d;
width: 400px;
text-align: center;
height: 200px;
border-radius: 100px;
}
.title {
    display: flex;
position: absolute;
margin-bottom: 338px;
color: blueviolet;
} */






.stopWatch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #4f74e0, #ac4fe0);
  }

  h1 {
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

  button {
    margin-right: 10px;
    width: 80px;
    font-size: 20px;
    background-color: #f38a8a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  

  .watch {
    background: linear-gradient(to bottom right, #b34fd0, #4f85e0);
    width: 400px;
    text-align: center;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  .title {
    display: flex;
    position: absolute;
    margin-bottom: 338px;
    font-size: 42px;
    background: linear-gradient(to right,#fff, #666, #000, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  

  @media (max-width: 600px) {
    .watch {
      width: 300px;
      height: 150px;
    }
    
    .title {
      font-size: 24px;
      margin-bottom: 250px;
    }
  }
  